<main>
  <button #buttonClose class="close-column">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
  <div #divleft id="divleft">
    <div class="content">
      <p class="col-title">
        COS È <br />
        <span class="italicOnHover"> ES.DESIGN </span>
      </p>
      <p class="big">01</p>
    </div>

    <div
      #innerContentLeft
      id="inner-content"
      class="inner-content inner-content-left"
    >
      <div class="first-inner">
        <div class="left-side">
          <img src="../../../assets/img/b&w/1 Grande.jpeg" alt="" />
          <h1>
            ES <br />
            IO <br />
            SUPER-IO
          </h1>
        </div>
        <div class="right-side">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
            repellat ex, id earum amet, optio natus blanditiis velit odit
            voluptas non veniam. Dicta reiciendis placeat provident maiores,
            commodi illo libero sequi accusamus rerum laudantium iure, quibusdam
            laboriosam? Dolorum quae quasi id nesciunt harum, debitis impedit
            delectus nihil eos perferendis optio voluptatibus earum culpa magnam
            cupiditate tenetur reiciendis odio nisi? Dolorem modi perferendis
            dolores numquam debitis omnis culpa ratione excepturi, architecto
            sed earum in veniam illu
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
            repellat ex, id earum amet, optio natus blanditiis velit odit
            voluptas non veniam. Dicta reiciendis placeat provident maiores,
            commodi illo libero sequi accusamus rerum laudantium iure, quibusdam
            laboriosam? Dolorum quae quasi id nesciunt harum, debitis impedit
            delectus nihil eos perferendis optio voluptatibus earum culpa magnam
            cupiditate tenetur reiciendis odio nisi? Dolorem modi perferendis
            dolores numquam debitis omnis culpa ratione excepturi, architecto
            sed earum in veniam illu
          </p>
        </div>
      </div>
    </div>
  </div>

  <div #divmid id="divmid">
    <div class="content">
      <p class="col-title">
        CHI È <br />
        <span class="italicOnHover"> RICCARDO CONTINI </span>
      </p>
      <p class="big">02</p>
    </div>

    <div
      #innerContentMid
      id="inner-content"
      class="inner-content inner-content-mid"
    >
      <img
        src="../../../assets/img/b&w/1 Grande.jpeg"
        class="left-side"
        alt=""
      />
      <!-- <div ></div> -->
      <div class="right-side">
        <h1>RICCARDO CONTINI</h1>
        <div class="content-grid-middle">
          <div class="content-inner">
            <h1>
              AUTOBIOGRAFIA <br />
              CREATIVA
            </h1>
          </div>
          <div class="content-inner">
            <p>
              Lorem ipsum dolor sit amet, consecte- tuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobor- tis nisl ut aliquip ex
              ea commodo conse- quat. Duis autem vel eum iriure dolor in
              hendrerit in vulputate velit esse molestie consequat, vel illum
              dolore eu feugiat nulla facilisis at vero eros et accumsan et
              iusto odio dignissim qui blandit prae- sent luptatum zzril delenit
              augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit
              amet, cons ecte- tuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              Ut wisi
            </p>
            <img
              src="../../../assets/img/b&w/10 Grande.jpeg"
              class="img-box"
              alt=""
            />

            <h1>ES</h1>
          </div>
          <div class="content-inner">
            <p>
              enim ad minim veniam, quis nostrud exerci tation ullamcorper
              suscipit lobor- tis nisl ut aliquip ex ea commodo conse- quat.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consecte- tuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobor- tis nisl ut aliquip ex
              ea commodo conse- quat. Duis autem vel eum iriure dolor in
              hendrerit in vulputate velit esse molestie consequat, vel illum
              dolore eu feugiat nulla facilisis at vero eros et accumsan et
              iusto odio dignissim qui blandit prae- sent luptatum zzril delenit
              augue duis dolore te feugait nulla facilisi.
            </p>
          </div>
          <div class="logo-area-long">
            <h1>C/O Riccardo Contini</h1>
            <img src="../../../assets/img/Risorsa 1.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #divright id="divright">
    <div class="content">
      <p class="col-title">
        PERCHÈ <br />
        <span class="italicOnHover"> LA FRECCIA </span>
      </p>
      <p class="big">03</p>
    </div>

    <div
      #innerContentRight
      id="inner-content"
      class="inner-content inner-content-right"
    >
      <div class="first-section">
        <div class="left-area">
          <h1>LA FRECCIA</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            no- nummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat vo- lutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
            tation ullamcor- per suscipit lobortis nisl ut aliquip ex ea commodo
            consequat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            no- nummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat vo- lutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
            tation ullamcor
          </p>
        </div>
        <div class="right-area">
          <img src="../../../assets/img/b&w/19 Grande.jpeg" alt="rock img" />
        </div>
      </div>
      <div class="second-section">
        <div class="left-side">
          <h1>
            "Vita è un ponte <br />
            da attraversare <br />
            e non sul quale <br />
            02 costruire una casa"

            <span>[Recita un proverbio Lakota]</span>
          </h1>
        </div>
        <div class="right-side">
          <div class="content-custom">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              no- nummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat vo- lutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcor- per suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.
            </p>

            <p>
              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam no- nummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat vo- lutpat. Ut wisi enim ad minim veniam, quis
              nostrud exerci tation ullamcor- per suscipit lobortis nisl ut
              aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit, sed diam no
            </p>
          </div>

          <div class="images-wrapper">
            <div class="img-inner">
              <img
                src="../../../assets/img/b&w/19 Grande.jpeg"
                alt="rock img"
              />
              <p>01</p>
            </div>

            <div class="img-inner">
              <img
                src="../../../assets/img/b&w/19 Grande.jpeg"
                alt="rock img"
              />
              <p>02</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
