<main>
  <div class="container">
    <div class="section-one">
      <img src="../../../assets/img/Logo.svg" alt="logo" class="logo" />

      <div class="slideshow-images-wrapper">
        <div>
          <img
            #Images
            src="../../../assets/img/b&w/backup/1Grande.jpeg"
            alt=""
          />
          <img src="../../../assets/img/b&w/backup/2Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/3Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/4Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/5Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/6Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/7Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/8Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/9Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/10Grande.jpeg" alt="" />
        </div>
        <div>
          <img src="../../../assets/img/b&w/backup/1Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/2Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/3Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/4Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/5Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/6Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/7Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/8Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/9Grande.jpeg" alt="" />
          <img src="../../../assets/img/b&w/backup/10Grande.jpeg" alt="" />
        </div>
      </div>
    </div>

    <div class="section-two">
      <div class="content-section">
        <div class="top-div">
          <table>
            <tr>
              <td>
                <svg
                  id="octagon"
                  #octagon
                  class="octagon"
                  data-name="Livello 2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 11.05 11.05"
                >
                  <defs>
                    <style>
                      .cls-4 {
                        fill: #007577;
                      }
                    </style>
                  </defs>
                  <g id="Livello_1-2" data-name="Livello 1">
                    <polygon
                      class="cls-4"
                      points="7.81 0 3.24 0 0 3.24 0 7.81 3.24 11.05 7.81 11.05 11.05 7.81 11.05 3.24 7.81 0"
                    />
                  </g>
                </svg>
              </td>
              <td>
                <p class="small black-small">Project</p>
              </td>
              <td>
                <svg
                  id="border-icon"
                  data-name="Livello 2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 47.33 46.07"
                >
                  <defs>
                    <style>
                      .cls-5 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                      }
                    </style>
                  </defs>
                  <g id="Livello_1-2" data-name="Livello 1">
                    <g>
                      <path
                        d="m21,33.7h5.33l3.73-4.8s-.12-10.95-6.4-16.53c-6.28,5.58-6.4,16.53-6.4,16.53l3.73,4.8Z"
                      />
                      <path
                        class="cls-5"
                        d="m38.5,45.57H8.83c-3.25-3.25-5.08-5.08-8.33-8.33V8.83C3.75,5.58,5.58,3.75,8.83.5h29.67c3.25,3.25,5.08,5.08,8.33,8.33v28.42c-3.25,3.25-5.08,5.08-8.33,8.33Z"
                      />
                    </g>
                  </g>
                </svg>
              </td>
            </tr>
            <tr>
              <td>
                <p class="small black-small">Time</p>
              </td>
              <td>
                <p class="medium">{{ currentTime }}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="small black-small">Object</p>
              </td>
              <td>
                <p class="medium">{{ currentProduct }}</p>
              </td>
            </tr>
            <tr>
              <td>
                <svg
                  id="Livello_2"
                  class="arrow"
                  data-name="Livello 2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12.34 9.73"
                >
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                      }
                    </style>
                  </defs>
                  <g id="Livello_1-2" data-name="Livello 1">
                    <g>
                      <line class="cls-1" y1="4.87" x2="11.05" y2="4.87" />
                      <polygon
                        points="7.11 9.73 6.29 8.86 10.59 4.87 6.29 .87 7.11 0 12.34 4.87 7.11 9.73"
                      />
                    </g>
                  </g>
                </svg>
              </td>
              <td>
                <p class="small">C/O<br />Riccardo Contini</p>
              </td>
            </tr>
          </table>
        </div>

        <div class="middle-div">
          <div class="column column-color-change" #colorChange>
            <svg
              id="circle_white"
              data-name="Livello 2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 9.68 9.68"
              #colorChangeWhite
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                  }
                </style>
              </defs>
              <g id="Livello_1-2" data-name="Livello 1">
                <circle class="cls-1" cx="4.84" cy="4.84" r="4.34" />
              </g>
            </svg>

            <svg
              id="arrow"
              data-name="Livello 2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 9.73 12.34"
            >
              <defs>
                <style>
                  .cls-2 {
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                  }
                </style>
              </defs>
              <g id="Livello_1-2" data-name="Livello 1">
                <g>
                  <line class="cls-2" x1="4.87" x2="4.87" y2="11.05" />
                  <polygon
                    points="0 7.11 .87 6.29 4.87 10.59 8.86 6.29 9.73 7.11 4.87 12.34 0 7.11"
                  />
                </g>
              </g>
            </svg>

            <svg
              id="circle_black"
              #colorChangeBlack
              data-name="Livello 2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 8.68 8.68"
            >
              <g id="Livello_1-2" data-name="Livello 1">
                <circle cx="4.34" cy="4.34" r="4.34" />
              </g>
            </svg>
          </div>
        </div>

        <div class="bottom-div">
          <div class="left">
            <div class="text-container">
              <div class="border border-black"></div>
              <p class="small">VOLTEGGIANDO <br />TRA TEMPO E MATERIA.</p>
              <div class="border border-black"></div>
              <p class="small">
                In search of the Spirit of Nature in each of us, ES offers a
                selection of unique jewels made of ethical gold and the preview
                of the new collection “Eclissi tra Tempo e materia”.
              </p>
            </div>
          </div>

          <div class="right">
            <p class="small black-small">03</p>
            <img
              src="../../../assets/img/b&w/backup/10Grande.jpeg"
              alt=""
              class="mobile-black"
            />
            <img
              src="../../../assets/img/b&w/backup/1Grande.jpeg"
              alt=""
              class="mobile-black"
            /><img
              src="../../../assets/img/b&w/backup/2Grande.jpeg"
              alt=""
              class="mobile-black"
            /><img
              src="../../../assets/img/b&w/backup/3Grande.jpeg"
              alt=""
              class="mobile-black"
            /><img
              src="../../../assets/img/b&w/backup/4Grande.jpeg"
              alt=""
              class="mobile-black"
            /><img
              src="../../../assets/img/b&w/backup/5Grande.jpeg"
              alt=""
              class="mobile-black"
            /><img
              src="../../../assets/img/b&w/backup/6Grande.jpeg"
              alt=""
              class="mobile-black"
            />
            <img
              src="../../../assets/img/b&w/backup/7Grande.jpeg"
              alt=""
              class="mobile-black"
            />
            <img
              src="../../../assets/img/b&w/backup/8Grande.jpeg"
              alt=""
              class="mobile-black"
            />
            <img
              src="../../../assets/img/b&w/backup/9Grande.jpeg"
              alt=""
              class="mobile-black"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
